@font-face {
  font-family: 'IranSans';
  src: url('../fonts/woff2/IRANSansWeb.woff2') format('woff2');
  src: url('../fonts/woff/IRANSansWeb.woff') format('woff');
  src: url('../fonts/ttf/IRANSansWeb.ttf') format('ttf');
  src: url('../fonts/eot/IRANSansWeb.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  font-family: 'IranSans', sans-serif;
  margin:0;
  padding: 0;
  background-color: #fff;
  box-sizing: border-box;
}

p,h1,h2,h3,h4,h5{
  cursor: default;
}

#about,#resume,#skills,#contact{
  overflow-x: hidden;
}

.nav-link {
  position: relative;
  transition: all 0.3s ease;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  left: 0;
  height: 2px;
  background-color: #66a3ff;
  border-radius: 2px;
}

.nav-link:hover {
  color: #3399ff; /* آبی روشن‌تر */
}

/* about  */

section#about{
  background-color: #e6f0ff;
}

.about-card{
  max-width: 320px;
  background-color: white;
}

.profile{
  width: 150px;
  height: 150px;
  object-fit: fill;
  margin: 0 auto;
}

.my-name{
  font-size: 16px;
}

.about-me{
  text-align: justify;
  line-height: 2;
}

.resume-card{
  transition: all 0.7s ease-in-out;
  border-radius: 18px;
}

.card-light {
  background-color: #fff;
}

.card-colored {
  background-color: #f0f8ff;
}

.resume-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.15);
}

.resume-card h4 {
  font-weight: bold;
  margin-bottom: 0.75rem;
  direction: rtl;
}

.resume-card p {
  line-height: 2;
  direction: rtl;
  text-align: justify;
  padding: 0 0.5rem;
}

/* skills */
.progress {
  height: 25px;
  background-color: #e9ecef;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  width: 0%;
  transition: width 2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;
  color: white;
  font-weight: bold;
  position: relative;
}

.progress-text {
  position: absolute;
  left: 50%;
  right: 50%;
  font-size: 0.9rem;
}

/* contact */
.contact{
  min-height: 50vh;
}
.contact .form-control {
  border-radius: 0.5rem;
}

.contact .btn {
  padding: 10px 20px;
  font-weight: 500;
}

.contact input:focus,
.contact textarea:focus{
  outline: none;
  box-shadow: none;
}

.social-icon {
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.6s ease;
  text-decoration: none;
}

.social-icon:hover {
  transform: scale(1.1);
}

.bg-telegram {
  background-color: #0088cc;
}

.bg-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.bg-bale {
  background-color: #e9ecef;
}

.bale-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* copyright */
.copyright{
  display: flex;
  width: 100%;
  height: 3rem;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}




